{{>header}}
<h2 class="page-heading">Add a new book</h2>
<div class="create-container">
    <div>
        <form action="#/create" method="POST">
            <label>Title</label>
            <input type="text" name="title" id="createTitle">
            <label>Author</label>
            <input type="text" name="author" id="createAuthor">
            <label>Image URL</label>
            <input type="text" name="image" id="createImage">
            <label>Year</label>
            <input type="number" name="year" id="createYear">
            <label>Genre</label>
            <input type="text" name="genre" id="createGenre">
            <label>List</label>
            <select class="options"> 
                <option value="" disabled selected>Choose a list</option>
                <option value="currently_reading">Currently Reading</option>
                <option value="to_read">Want to Read</option>
                <option value="favorites">Favorites</option>
            </select>
            <input type="submit" value="Create">
        </form>
    </div>
</div>
{{>footer}}