{{>header}}
<div class="home-content">
    {{#if username}}
    <h2 class="page-heading">Enjoy creating book lists</h2>
    {{else}}
    <h2 class="page-heading">This app lets you keep track of different book collections</h2>
    {{/if}}
</div>
{{>footer}}